* {
    padding: 0;
    margin :0;
    font-family: sans-serif;

}
body{
    background-image:  url("background.png") ;
    background-size: cover;
    


}

div.login_form{
    width:350px;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute; 

}
div.login_form h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
div.login_form p{
    font-size: 20px;
    
    margin: 15px 0;
}
div.login_form input{
    font-size: 16px;
    width: 100%;
   padding: 15px 10px;
   border:0;
   outline: none;
   border-radius: 5px;

}
div.login_form button{
    font-size: 16px;
    font-weight: bold;
    margin: 15px, 0;
    padding: 10px 15px;
    width: 40%;
    border-radius: 10px;
    border: 0;
    display: inline-block;

}
#admin_check{
    font-size: 24px;

}
#admin_checkbox{
    white-space: nowrap;
    width: 20px;
    height: 20px;
}
