
 .auth-form-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content:baseline;
    color: white;
    font-size: large;
    background-image: linear-gradient(79deg, #0c13e7, #05d856ac 48%, #06fd964d);
} 
h1{
    color: rgb(224, 81, 81);
}

label {
    text-align: left;
    padding: 0.25rem 0;
  }
  
input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}
  
button {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #7439db;
}

footer{
    background-color: rgb(104, 106, 107);
    text-align: right;
    color: whitesmoke;
}